@import url(https://fonts.googleapis.com/css?family=Roboto:300|Open+Sans|Inconsolata);

/* Common */

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

/* header */

header h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 2.6em;
  border-bottom: 1px solid darkred;
}

.subtitle {
  color: grey;
}

.subtitle a {
  color: grey;
  text-decoration: none;
}

.subtitle a:hover {
  color: grey;
  text-decoration: none;
}

/* footer */

footer {
  color: grey;
  margin-top: 5em;
  margin-bottom: 2.5em;
  text-align: center;
}

footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: grey;
  text-decoration: none;
}

/* Menu */

/* I got this bit of fancy from http://stackoverflow.com/questions/7647195/evenly-spaced-list-items */
.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  height: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.item {
  width: 100%;
  vertical-align: top;
  padding-bottom: 65px;
}
@media (min-width: 465px) {
.item {
  width: auto;
  display: inline-block;
  padding-bottom: 0px;
}
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* Content */

.content {
  font-size: 1.1rem;
  margin: 0 auto;
  max-width: 818px;
}

/* Post */

.post {
  line-height: 1.5;
}

.post a {
  color: darkred;
}

.post a:hover {
  text-decoration: underline;
}

.post img {
  max-height: 100%;
  max-width: 100%;
}

/* Archive */

.archive {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.archive ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Code */

code {
  font-family: 'Inconsolata', monospace;
}

/* This comes from github.com */
pre {
  border: 1px solid #ddd;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

/* Keyboard */

/* This comes from the stackoverflow.com css file */
kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  border-radius:3px;display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}
