@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Common */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  max-width: 960px;
  margin: auto;
}

h1, h2 {
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

/* header */

.header h1 {
  border-bottom: 1px solid darkred;
}

.header a:hover {
  color: black;
}

/* footer */

.footer {
  margin-top: 5em;
  margin-bottom: 2.5em;
  text-align: center;
}

.footer a {
  color: grey;
  text-decoration: none;
}

/* Menu */

/* I got this bit of fancy from http://stackoverflow.com/questions/7647195/evenly-spaced-list-items */
.menu {
  height: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.item {
  width: auto;
  vertical-align: top;
  display: inline-block;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* Content */

.content {
  margin-top: 2em;
}

/* Post */

.post {
  line-height: 1.75;
  max-width: 800px;
}

.post a {
  color: darkred;
}

.post a:hover {
  text-decoration: underline;
}

.post img {
  max-height: 100%;
  max-width: 100%;
}

/* Code */

code {
  font-family: 'Inconsolata', sans-serif;
  font-size: 125%;
}

/* This comes from github.com */
pre {
  font-size: 15px;
  border: 1px solid #ddd;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

/* Keyboard */

/* This comes from the stackoverflow.com css file */
kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  border-radius:3px;display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}
