<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>
  <h1>Zach Whaley's</h1>
  <p>
  <table>
    <td title='GitHub'>
        <a href='https://github.com/zachwhaley'>Code</a>
    </td>
    <td title='Twitter'>
        <a href='https://twitter.com/zachwhaley'>Tweets</a>
    </td>
    <td title='Google+'>
        <a href='https://plus.google.com/+ZachWhaley'>+Posts</a>
    </td>
    <td title='LinkedIn'>
        <a href='http://www.linkedin.com/in/zachwhaley'>Resume</a>
    </td>
    <td title='Greyhounds...'>
        <a href='https://plus.google.com/photos/+ZachWhaley/albums/5975996956793971169'>Greyhounds</a>
    </td>
  </table>
  <p>
  {{ content }}
</body>
</html>
