<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>
  <div class='header'>
    <h1>Zach Whaley's</h1>
  </div>

  <div class='menu'>
    <div class='item' title='GitHub'>
        <a href='https://github.com/zachwhaley'>Code</a>
    </div>
    <div class='item' title='Twitter'>
        <a href='https://twitter.com/zachwhaley'>Tweets</a>
    </div>
    <div class='item' title='Google+'>
        <a href='https://plus.google.com/+ZachWhaley'>+Posts</a>
    </div>
    <div class='item' title='LinkedIn'>
        <a href='http://www.divnkedin.com/in/zachwhaley'>Resume</a>
    </div>
    <div class='item' title='Greyhounds...'>
        <a href='https://plus.google.com/photos/+ZachWhaley/albums/5975996956793971169'>Greyhounds</a>
    </div>
    <span class='stretch'></span>
  </div>

  <div class='content'>
    {{ content }}
  </div>
</body>
</html>
